/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 3px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  /* background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%)); */
  background: #212121;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 0.5vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery,
.keyboard,
.weather {
  margin: 0 1rem;
}

.workspaces {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  padding: 2px 16px;
  padding-top: 3px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: #ee22ad80;
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 8%);
  color: rgb(255 255 255 / 90%);
  border-radius: 5px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.keyboard {
  background: rgb(255 255 255 / 8%);
  margin-right: 4px;
  padding: 2px 8px;
  padding-top: 3px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
